.photoContainer {
    display: flex;
    flex-direction: row;
    align-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.photoList {
    align-items: center;
    list-style: none;
    padding: 0%;
}

@media screen and (min-width: 786px) {
    .photoContainer{
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 20px;
        row-gap: 10px;
    }
}